.services-header {
    height: 103vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 6rem 1.5rem 6rem;
    margin: -15px 0 0 0;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    background: #000;
    will-change: transform;
    transition: none !important;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.services-header.is-sticky {
    background-color: #050505;
}

.services-parallax-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    height: 100%;
    background: #000;
}

.parallax-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    display: flex;
    flex-direction: column;
    will-change: transform;
}

.parallax-img {
    width: 100%;
    height: 25%;
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(0.25);
}

.parallax-img.img-1 {
    background-image: url("https://res.cloudinary.com/dhqjyigvv/image/upload/v1769445448/img__5_lkkc61.jpg");
}

.parallax-img.img-2 {
    background-image: url("https://res.cloudinary.com/dhqjyigvv/image/upload/v1769445432/img__7_l6gemq.jpg");
}

.parallax-img.img-3 {
    background-image: url("https://res.cloudinary.com/dhqjyigvv/image/upload/v1769445432/img__1_qpmeml.jpg");
}

.parallax-img.img-4 {
    background-image: url("https://res.cloudinary.com/dhqjyigvv/image/upload/v1769529978/mythical-dragon-beast-anime-style_ogluyk.jpg");
}

.services-footer,
.services-right-content {
    position: relative;
    z-index: 1;
}


.services-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.services-line-loader {
    width: 3px;
    background: #fff;
    border: none;
    margin-left: -1rem;
    height: 6.5rem;
    transform: translateY(7.6rem) scaleY(0);
    transform-origin: top center;
}

.services-tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.service-tag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.service-tag:hover {
    transform: translateX(10px);
}

.service-tag .dot {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 0;
}

.services-right-content {
    position: absolute;
    bottom: 5.5rem;
    right: 5rem;
}

.services-right-content .about-button,
.services-right-content .arrow-button {
    background: #ffffff;
    color: #000000;
}

.services-right-content .button-group:hover .about-button,
.services-right-content .button-group:hover .arrow-button {
    background: #ffffff;
}

.services-center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 360px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 0;
    overflow: hidden;
}

.services-box-scroller {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    will-change: transform;
}

.services-box-content {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem;
    box-sizing: border-box;
}

.center-box-meta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.65rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    /* margin-bottom: 1rem; */
    margin-top: -1rem;
    margin-left: -1rem;
}

.center-box-dot {
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 0;
}

.center-box-title-wrapper {
    margin-bottom: 2rem;
    padding-top: 35px;
}

.center-box-title {
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #000;
    margin: 0;
    line-height: 1.52;
}

.center-box-description {
    font-size: 11px;
    line-height: 1.2;
    color: #333;
    margin: 0;
    padding-bottom: 1.5rem;
    word-spacing: 1em;
}

.center-box-arrow {
    margin-top: auto;
    margin-left: auto;
}

.center-box-arrow .arrow-button {
    padding: 0.5rem 0.5rem;
    min-width: 2.24rem;
    height: 2.24rem;
    font-size: 0.75rem;
}