/* Shape 05 Animation: 2-Phase (Fast then Slow) */
@keyframes move-tc-phase {
    0% {
        top: 0;
        transform: translateX(-50%);
    }

    15% {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* Fast Close */
    30% {
        top: 0;
        transform: translateX(-50%);
    }

    /* Fast Open */
    65% {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* Slow Close */
    100% {
        top: 0;
        transform: translateX(-50%);
    }

    /* Slow Open */
}

@keyframes move-bc-phase {
    0% {
        bottom: 0;
        transform: translateX(-50%);
    }

    15% {
        bottom: 50%;
        transform: translate(-50%, 50%);
    }

    30% {
        bottom: 0;
        transform: translateX(-50%);
    }

    65% {
        bottom: 50%;
        transform: translate(-50%, 50%);
    }

    100% {
        bottom: 0;
        transform: translateX(-50%);
    }
}

@keyframes move-lc-phase {
    0% {
        left: 0;
        transform: translateY(-50%);
    }

    15% {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    30% {
        left: 0;
        transform: translateY(-50%);
    }

    65% {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        left: 0;
        transform: translateY(-50%);
    }
}

@keyframes move-rc-phase {
    0% {
        right: 0;
        transform: translateY(-50%);
    }

    15% {
        right: 50%;
        transform: translate(50%, -50%);
    }

    30% {
        right: 0;
        transform: translateY(-50%);
    }

    65% {
        right: 50%;
        transform: translate(50%, -50%);
    }

    100% {
        right: 0;
        transform: translateY(-50%);
    }
}

.sh-05 .pos-tc {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sh-05 .pos-bc {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sh-05 .pos-lc {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sh-05 .pos-rc {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sh-05 .pos-tc {
    animation: move-tc-phase 4s infinite ease-in-out;
}

.sh-05 .pos-bc {
    animation: move-bc-phase 4s infinite ease-in-out;
}

.sh-05 .pos-lc {
    animation: move-lc-phase 4s infinite ease-in-out;
}

.sh-05 .pos-rc {
    animation: move-rc-phase 4s infinite ease-in-out;
}