/* Crossing Animation for Shape 02 */
@keyframes crossing-right-to-left {
    0% {
        right: 0;
    }

    40% {
        right: calc(100% - 45px);
    }

    /* 45px is the square width */
    60% {
        right: calc(100% - 45px);
    }

    /* Pause */
    100% {
        right: 0;
    }
}

@keyframes crossing-left-to-right {
    0% {
        left: 0;
    }

    40% {
        left: calc(100% - 45px);
    }

    60% {
        left: calc(100% - 45px);
    }

    /* Pause */
    100% {
        left: 0;
    }
}

.sh-02 {
    height: 260px;
}

.sh-02 .pos-rc {
    top: 65%;
}

.sh-02 .pos-lc {
    top: 35%;
    left: 0;
}

.sh-02 .pos-tr {
    top: 0;
    right: 0;
}

.sh-02 .pos-bl {
    bottom: 0;
    left: 0;
}

.sh-02 .pos-tr,
.sh-02 .pos-rc {
    animation: crossing-right-to-left 2.75s infinite cubic-bezier(0.19, 1, 0.22, 1);
}

.sh-02 .pos-lc,
.sh-02 .pos-bl {
    animation: crossing-left-to-right 2.75s infinite cubic-bezier(0.19, 1, 0.22, 1);
}