.sh-container {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline-block;
}

.sh-square {
    width: 45px;
    height: 45px;
    background-color: var(--color-text-main, #111);
    position: absolute;
}