.product-videos-stack {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 135vh;
}

.product-videos-stack.is-fixed {
  z-index: 1000;
}

.product-video-container {
  width: 100%;
  height: 57vh;
  position: absolute;
  top: 0;
  left: 0;
}

.product-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-video-container1 {
  z-index: 1;
  top: 0;
}

.product-video-container2 {
  z-index: 2;
  top: calc(82vh - 10vh);
}

.product-video-container3 {
  z-index: 3;
  top: calc(164vh - 20vh);
}

.product-video-container4 {
  z-index: 4;
  height: 81vh;
}

@media (max-width: 768px) {
  .product-video-container2 {
    top: calc(72vh - 12vh);
  }

  .product-video-container3 {
    top: calc(144vh - 28vh);
  }
}