@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('../public/fonts/Barlow/Barlow-Bold.ttf') format('truetype');
    font-weight: 650;
    font-style: normal;
}

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}