/* VideoStack.css */
.video-stack-main-container {
    position: relative;
    /* 4 videos: 1st is static, 3 more climb. Total scroll depth = 3 * 80vh = 240vh */
    /* We add 80vh for the final video persistence. Total = 320vh */
    height: 320vh;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: transparent;
    pointer-events: none;
    /* Allow events to pass through to the videos if needed */
}

.video-stack-sticky-wrapper {
    position: sticky;
    top: 0;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    /* Clips the vh80 translated videos */
    pointer-events: auto;
}

.video-item-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.video-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}